body {
background-color:#F5DCF5;

}

.navbar{
	 padding:2px;	
	border-bottom:#A52A2A 2px solid;
	text-align:centre;
	background-color:#FFF0F5;
}
.navbar .nav-link{

	color:#000000;
	font-size:18px;
}


.nav-link:hover{
	color:#F08080 !important;
}


p{
     text-align:center;
	 font-size:18px;
	  padding:10px;
}
h1,h2{
	text-align:center;
}
.container{
	text-align:center;
	font-size:20px;
    padding:10px;	
}

